.features {
  background: var(--White, #fff);
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 73px 80px;
}

.title {
  color: var(--Dark-Primary, #2a254b);
  align-self: center;
  font: 400 24px/1.4 Clash Display, -apple-system, Roboto, Helvetica, sans-serif;
}

.featureGrid {
  margin: 51px auto 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  width: 100%;
  max-width: 1244px;
}

.featureBlock {
  display: flex;
  flex-direction: column;
  color: var(--Dark-Primary, #2a254b);
  font-weight: 400;
}

.featureIcon {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 24px;
  fill: var(--Transparent, #fff);
  background-blend-mode: multiply;
}

.featureContent {
  display: flex;
  margin-top: 16px;
  flex-direction: column;
  justify-content: start;
}

.featureTitle {
  font: 20px/1.4 Clash Display, -apple-system, Roboto, Helvetica, sans-serif;
}

.featureDescription {
  margin-top: 8px;
  font: 16px/24px Satoshi, sans-serif;
}

@media (max-width: 991px) {
  .features {
    max-width: 100%;
    padding: 0 20px;
  }

  .featureGrid {
    grid-template-columns: 1fr;
    max-width: 100%;
    margin-top: 40px;
  }

  .featureBlock {
    margin-top: 40px;
  }
}
